node_modules/
dist/
.next/
out/
cdk.out/
*.js.map
*.d.ts.map
*.d.ts
!packages/types/dist/
.turbo/
.env*.local
.idea
healthz.yaml
healthz.*.yaml
cdk-outputs.json
webfonts/
packages/ui/public/fonts/*
!packages/ui/public/fonts/.gitkeep
